<mat-card>
  <mat-card-header>
    <mat-card-title> Update serie </mat-card-title>
    <mat-card-subtitle> &nbsp; </mat-card-subtitle>
  </mat-card-header>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="nextEpisode()">
      Set next episode
    </button>
    <button mat-raised-button color="primary" (click)="nextSeason()">
      Set next season
    </button>
    <button mat-raised-button color="warn" (click)="watched()">
      Mark as watched
    </button>
  </mat-card-actions>
</mat-card>
